.header {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid rgba(229, 137, 38, 0.019);
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.active {
  color: #f0b2e1;
}

.link {
  text-decoration: none;
  color: #f0b2e1;
  transition: color 0.2s ease-in-out;
  font-size: 25px;
}
