.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.cardItem {
  width: 150px;
  text-align: center;
  background-color: #9aeda8;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.actorImage {
  width: 150px;
  height: 225px;
  object-fit: cover;
  border-radius: 10px;
}

.actorName {
  font-weight: bold;
  margin-top: 8px;
  font-size: 16px;
  color: #333;
}

.actorRole {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}

.noCast {
  text-align: center;
  font-size: 18px;
  color: #fbf9f9;
  margin-top: 20px;
}
