.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #5fe066;
  color: #333;
}

.titleH {
  font-size: 100px;
  font-weight: bold;
  margin: 0;
  color: #e20707;
}

.text {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

.text a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.text a:hover {
  color: #0056b3;
}
