.button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #36d7b7;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

/* .button:focus,
.button:active,
.button:hover {
  border: none;
  outline: none;
  background-color: #2ca08c;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */

.button:hover:not(:disabled),
.button:focus-visible:not(:disabled) {
  background-color: #2ca08c;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
